:root {
  --background: #ffffff;
  --foreground: #171717;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hero_section {
  background: url(../../public/images/hero.jpg);
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.25);
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.MuiTab-root {
  min-width: 152px !important;
  padding: 0;
  min-height: 10px !important;
}

.MuiTab-root.Mui-selected {
  color: #171717 !important;
  background: #cedde7 !important;
}
.MuiTabs-indicator {
  display: none;
}

.css-1pht7va-MuiInputBase-root-MuiFilledInput-root::before,
.css-1pht7va-MuiInputBase-root-MuiFilledInput-root::after,
.css-mqrhgg-MuiInputBase-root-MuiFilledInput-root::before,
.css-mqrhgg-MuiInputBase-root-MuiFilledInput-root::after {
  border-bottom: none !important;
}

.css-10o2lyd-MuiStack-root {
  margin-top: 0;
  padding: 0;
}

.css-19kzrtu {
  padding: 10px;
}

.css-19bunb3-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: #fff;
}
